// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  font-size: 80px;
  color: #fbf8f0;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  padding: 0px;
  margin-top: 5px;
}

.accepts_ten_bis {
  content: image_url('tenbis.png');
  padding: 0px;
  width: 20px;
}

.not_accepts_ten_bis {
  @extend .accepts_ten_bis;
  filter: grayscale(100%) opacity(20%);
}

.cuisine_icon {
  width: 40px;
  padding: 0px;
}

.page-header {
  margin-top: 0px;
  width: 100%;
}

.restaurants_left, .map_right{
  float: left;
}

.map_right{
  margin-left: 80px;
  min-height: 100%;
}

.restaurants_container{
  display:flex;
  flex-direction:row;
  min-height: 100%;
}

.banner{
  position: relative;
  background-image: url('Banner_New.jpeg');
  background-repeat: no-repeat;
  background-size:105%;
  height: 270px;
  margin: 0 !important;
  padding-bottom: 0px;
}

.search {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filters{
  bottom: 5px;
  left: 30%;
  display:flex;
  flex-direction:row;
}

.filter{
  width: 25%;
  float: left;
  margin: 5px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

input[type=number] {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

input[type=text]:focus, input[type=number]:focus {
  border: 3px solid #555;
}


select {
  width: 100%;
  height: 40px;
  padding: 6px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px 0;
}

.RestaurantCell {
  float: top;
  margin-top: 1px;
  border-style: solid;
  border-width: 1px;
}