// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 0px;
  margin-top: 5px;
}

.accepts_ten_bis {
  content: image_url('tenbis.png');
  padding: 0px;
  width: 20px;
}

.not_accepts_ten_bis {
  @extend .accepts_ten_bis;
  filter: grayscale(100%) opacity(20%);
}

.cuisine_icon {
  width: 40px;
  height: 40px;
  padding: 0px;
}

.page-header {
  margin-top: 0px;
  width: 100%;
}

.restaurants_left, .map_right{
  float: left;
}

.map_right{
  margin-left: 80px;
  min-height: 100%;
}

.restaurants_container{
  display:flex;
  flex-direction:row;
  min-height: 100%;
}

.banner{
  position: relative;
  background-image: url('TenBisBig.png');
  background-repeat: no-repeat;
  background-size:100%;
  height: 170px;
  margin: 0;
  padding-bottom: 0px;
}

.filters{
  position: absolute;
  bottom: 5px;
  left: 30%;
  display:flex;
  flex-direction:row;
}

.id{

}