// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 5px
}

.accepts_ten_bis {
  content: image_url('tenbis.png');
  padding: 0px;
  width: 20px;
}

.not_accepts_ten_bis {
  @extend .accepts_ten_bis;
  filter: grayscale(100%) opacity(20%);
}

.cuisine_icon {
  width: 40px;
  padding: 0px;
}

.page-header {
  margin-top: -20px;
  width: 100%;
}

.RestaurantsLeft, .MapRight{
  float: left;
}

.MapRight{
  margin-left: 80px;
  min-height: 100%;
}

.RestaurantsContainer{
  display:flex;
  flex-direction:row;
  min-height: 100%;
}
.Filters{
  background-image: url('TenBisBig.png');
  background-repeat: no-repeat;
  background-size: auto;

  height: 90px;
  display:flex;
  flex-direction:row;
  min-height: 100%;
  position: relative;
}