$banner-image: 'Banner.jpeg';
$tenbis-icon: 'tenbis.png';
$filter-bkgrnd: #E76F51;
$cell-selected-bkgrnd: #E76F51;
$cell-bkgrnd: #F1F8F3;
$body-bkgrnd: #264653;
$search-border-color: #ccc;
$search-selected-border-color: #264653;
$header-text-color: #fbf8f0;

$cuisine-icon-size: 50px;
$tenbis-icon-size: 20px;
$banner-height: 240px;
$header-font-size: 80px;
$search-box-width: 450px;
$search-box-animation-transition: 0.2s;
$search-box-font-size: 14px;
$filters-bar-height: 80px;
$filter-width: 40%;
$filter-height: 30px;

$restaurant-name-font-size: 20px;
$restaurant-info-width: 180px;
$restaurant-secondary-info-width: 70px;
$map-height: 800px;
$map-width: 65%;

