<!DOCTYPE html>
<html>
<head>
  <title>WeEat</title>
  <%= csrf_meta_tags %>

  <div id="container">
    <!-- This element's contents will be replaced with your component. -->
  </div>
</head>

<body>
<%= yield %>
</body>
</html>
