<!DOCTYPE html>
<html>
<head>
  <title>ReactOnRailsWithWebpacker</title>
  <%= csrf_meta_tags %>
  <%= javascript_pack_tag 'restaurants' %>
  <div id="container">
    <!-- This element's contents will be replaced with your component. -->
  </div>
</head>

<body>
<%= yield %>
</body>
</html>
